.address {
    font-size: 18px;
    padding-left: 40px;
    background-image: url(../img/map.svg);
    background-repeat: no-repeat;
    background-size: 38px;
    background-position: -4px 30px;
}

.address--title {
    margin-left: -40px;
    font-size: .7em;
    line-height: 150%;
    color: #A4DBE4;
}

