/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}



@font-face {
    font-family: 'tasty_morselregular';
    src: url('../fonts/tastymorsel-webfont.woff2') format('woff2'),
         url('../fonts/tastymorsel-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 200;
    font-size: 20px;
    line-height: 150%;
    color: rgb(255, 255, 255, 0.75);
    background: url(../img/noise.png), #1C1C1C;
}
