.header {

    font-family: "tasty_morselregular", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 110%;
    text-align: center;
    color: #a4dbe4;

    span {
        &::before, &::after {
            content: "";
            display: inline-block;
            background-size: cover;
        }
        &::before {
            width: 65px;
            height: 90px;
            background-image: url(../img/header--left.svg);
        }

        &::after {
            width: 62px;
            height: 47px;
            background-image: url(../img/header--right.svg);
            vertical-align: middle;
        }
    }

    & > img {
        max-width: 90%;
        display: block;
        margin: 0 auto;
    }
}
