.wrapper {
    width: 794px;
    height: 1123px;
    margin: 0 auto;
    background-image: url(../img/noise.png), linear-gradient(297.63deg, #326295 18.25%, #1e3d5e 61.4%);
    border-radius: 2mm;

    @media print {
        @page {
            margin: 0;
            size: auto;
        }
        & {
            background: none;
        }
    }
}
